<ag-grid-angular
  #agGrid
  style="height: 500px;"
  id="myGrid"
  class="ag-theme-balham"
  [modules]="modules"
  [columnDefs]="columnDefs"
  [floatingFilter]="true"
  [rowModelType]="rowModelType"
  [paginationPageSize]="paginationPageSize"
  [cacheOverflowSize]="cacheOverflowSize"
  [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
  [infiniteInitialRowCount]="infiniteInitialRowCount"
  [maxBlocksInCache]="maxBlocksInCache"
  [components]="components"
  [rowData]="rowData"
  [pagination]="true"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
