/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.scss";
$odd-row-background-color: #CFD8DC;
$hover-color: #7c7c7c;
$header-background-color: rgb(255, 224, 184);
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham/sass/ag-theme-balham.scss";

body {
  padding-top: 80px;
}