//Bootstrap
$primary: #0057b8;
$footer: #dcdfe3;
$dark: #1d2329;
$Secondary: #1d2329;
$enable-caret: true;
$enable-gradients: true;
// $Main: #ffffff;
// $onhover: #f7f8fa;
// $button-main: #0057b8;
// $button-focus: #007ae2;

// $buttontext: #508cce;
// $simpletext: #1d2329;
// $Highlight: #0057b8;
// $logo: #009fdb;
//ag-grid
$odd-row-background-color: #cfd8dc;
$hover-color: #7c7c7c;
